<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!--  -->
	<context:component-scan base-package="com.yjlcmsc.controller"/>
    
    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:config.properties"/>
	<!-- 配置SpringMVC的注解驱动 -->
	<mvc:annotation-driven/>

	<!-- 开启默认的servlet处理请求 - 解决无法找到静态资源的问题 -->
	<mvc:default-servlet-handler/>

	<!-- 
		视图解析器 - 逻辑视图需要（非逻辑视图无需视图解析器）
	 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<!-- 配置后缀 -->
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 上传解析器 -->	
</beans>